@model WebApplication4.Models.Registration
@{
    ViewData["Title"] = "Sign up result";
}
<h2>@ViewData["Title"]</h2>
<ul>
    <p>@Model.FirstName</p>
    <p>@Model.LastName</p>
    <p>@Model.Birthday</p>
    <p>@Model.Gender</p>
    <p>@Model.Email</p>
    <p>@Model.Password</p>
</ul>
